[Unit]
Description=denkovi2mqtt
After=network.target
StartLimitIntervalSec=0

[Service]
User=denkovi2mqtt
Group=denkovi2mqtt
WorkingDirectory=/opt/denkovi2mqtt
Type=simple
Environment="PYTHONUNBUFFERED=1"
ExecStart=/opt/denkovi2mqtt/denkovi2mqtt.py
Restart=always
RestartSec=10
TimeoutStopSec=30

[Install]
WantedBy=mult-user.target
